// PALETA DE COLORES

$color-bg-primary: #121212;
$color-bg-secondary: #17191a;
$color-general: #1b2024;
$color-bg-sidebar-hover: #323b42;
$color-main: #93c1cf;
$color-btn: #a4d7e7;

// Text Colors
$color-text-primary: whitesmoke;
$color-text-secondary: rgba(245, 245, 245, 0.904);
$color-text-tertiary: rgba(245, 245, 245, 0.808);
$color-text-quaternary: gray;