@media (max-width: 576px) {
  .section-forums {
    padding: 20px 20px;
  }
  .heading-forums {
    padding: 40px 20px 0;
    text-align: center;
  }
  .container-forums {
    grid-template-columns: 1fr !important;
    aside {
      padding: 0 20px 40px;
      padding-top: 0px !important;
      ul {
        flex-direction: column !important;
      }
    }
  }
  .section-review {
    padding: 40px 20px;
    &__heading h2 {
      font-size: 1.8rem;
    }
  }

  .container-review__card {
    display: flex;
    flex-direction: column;
    min-width: 13rem;

    .card-review__left h3 {
      font-size: 1.7em;
    }

    .card-review__left h4 {
      font-size: 1.5em;
    }

    .card-review__left--img {
      max-width: 7rem;
      max-height: 7rem;
    }
  }

  .artist-section {
    padding: 40px 0;

    &__heading h2 {
      font-size: 1.8rem;
    }
  }

  .section-info {
    padding: 40px 20px;
  }

  .section-lists__card--left img {
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px;
  }

  .content {
    min-width: 20rem !important;
    max-width: 100% !important;
    .reviews {
      padding: 0 20px;
    }
  }

  .section-explore {
    padding: 40px 20px 0;

    h1 {
      text-align: center;
      font-size: 2.5em;
    }
    .grid-explore {
      width: 100%;
      padding: 0;
    }
    .grid-item {
      width: 9rem;
      height: 14rem;
    }
  }
  .section-all {
    padding: 40px 20px;
    h2 {
      text-align: center;
      font-size: 1.9em;
    }
    .grid-all {
      width: 100%;
      padding: 20px 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.2rem;

      .item-all {
        height: 7.5rem;
        width: 100%;
        p {
          @include font(1.5em, 600, $color-general);
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .section-review__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    .card-review__left,
    .card-review__right {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }

  .artist-section__heading h2,
  .section-review__heading h2 {
    font-size: 1.9rem;
  }

  header {
    justify-content: flex-start;
    padding: 20px;
  }
}

@media (min-width: 768px) {
  .section-review__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    .container-review__card {
      height: fit-content;
      max-width: 27rem;
    }
    .card-review__left,
    .card-review__right {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
}
@media (max-width: 928px) {
  .container-forums {
    aside {
      ul {
        li {
          flex: 1 1 20%;
        }
      }
    }
  }
}
@media (max-width: 911px) and (min-width: 577px) {
  .section-all {
    h2 {
      font-size: 1.9em;
    }
    .grid-all {
      width: calc((15rem * 2) + 1.75rem);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.7rem;

      .item-all {
        max-height: 8.5rem;
        min-height: 7rem;
        width: 100%;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1350px) {
  .artists__card {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1200px) {
  .container-forums {
    grid-template-columns: 1fr !important;
    aside {
      ul {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        li {
          flex: 1 1 30%;
        }
      }
    }
  }
  .sidebar {
    max-width: 4.5rem !important;
    min-width: 4.5rem !important;
  }
  .nav-link {
    justify-content: center;
    i {
      color: $color-main !important;
    }
  }
  .nav-link:hover,
  .active {
    i {
      color: $color-text-primary !important;
    }
  }
}
@media (min-width: 1200px) {
  .nav-link {
    padding-bottom: 0;
    p {
      margin-bottom: 7px;
    }
  }
}

@media (min-width: 1350px) {
  .section-review__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .container-review__card {
    max-width: 30rem;
  }
}
