.sidebar{
    max-width: 230px;
    min-width: 230px;
    background: $color-general;

    &__logo{
        @include font(2em,700,$color-text-primary);
        cursor: pointer;
    }

    .nav-item:hover, .active{
        background: $color-bg-sidebar-hover;
        border-radius: 8px;
    }
}

@mixin nav-link-properties {
    text-decoration: none;
    color: $color-text-primary;
    font-size: 1.25rem;
    font-weight: 400;
    display: flex;
}

.nav-link{
    @include nav-link-properties;

    i{
        @include nav-link-properties;
    }

    &:hover{
        color: $color-text-primary;
    }
}

.nav-link__offcanvas {
    i {
      color: $color-text-primary !important;
    }
  }
