.section-explore{
    padding: 40px 48px 0;
    justify-content: center;

    h1{
        color: $color-main;
    }
    .search-explore{
        max-width: 21rem;
        min-width: max-content;
        margin-bottom: 20px;

        .search::placeholder{
            color: $color-text-quaternary;
        }
    }
    a{
        text-decoration: none;
        @include font(1em, 500, $color-main);
    }
    .grid-explore{
        width: 100%;
        padding: 0 48px 0 0;

        .grid-item{
            width: 9.75rem;
            height: 14rem;
            background-color: $color-bg-secondary;
            cursor: pointer;
            transition: transform 6ms ease;
            &:hover{
                transform: scale(1.05);
            }

            img{
                width: 100%;
                height: 9rem;
            }
            p{
                margin-bottom: 0;

                &:first-child{
                    @include font(1.05em, 600, $color-text-primary);
                }
                &:last-child{
                    color: $color-text-tertiary;
                }
            }
            i{
                color: $color-text-secondary;
            }
        }
    }
}

.section-all{
    padding: 40px 48px;

    h2{
        color: $color-main;
    }
    .grid-all{
        width: 100%;
        padding: 20px 0;
        // display: grid;
        // grid-template-columns: repeat(3, 15rem);
        display: flex;
        flex-wrap: wrap;
        gap: 1.75rem;

        a{
            text-decoration: none;
            height: 100%;
        }

        .item-all{
            height: 8.5rem;
            width: 15rem;
            background-color: $color-main;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover{
                background-image: linear-gradient(to top, $color-bg-sidebar-hover, $color-main);
            }
            
            p{
                @include font(1.8em,600,$color-general);
            }
        }
    }
}