.heading-lists{
    h2{
       color: $color-main;
       font-size: 2.4em;
    }
    label{
        font-weight: 500;
    }
    &__search--input{
        max-width: 27rem;
        min-width: max-content;
        .search-list::placeholder{
            color: $color-text-quaternary;
        }
    }
}

.section-lists{
    &__card{
        background: $color-bg-secondary;
        border-radius: 10px;

        &--left img{
            max-height: 15rem;
            max-width: 100%;
            border-radius: 10px;
        }
        &--right p:last-child{
            @extend .card-subtitle;
        }
    }
    &__a{
        @extend .ver-mas;
        margin: 0 auto;
    }
}

.card-title{
    color: #93c1cff5;
}

.card-text{
    color: $color-text-primary;
}

.card-subtitle{
    color: $color-text-secondary;
}

