.main-register {
    display: flex;
    height: 100vh;
	width: 100%;
    background: $color-bg-primary;
}

.container {
    color: $color-text-primary;
	max-width: 600px;
	margin: 50px auto;
	padding: 40px;
	background-color: $color-general;
	border-radius: 6px;
}

.form {
    padding-top: 12px;
	margin-bottom: 20px;
    h3 {
        color: $color-main !important;
    }
}


label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}


#login {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.botones-redes {
	display: block;
	width: 100px;
	background: transparent;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
	color: $color-btn;
	border: solid 1px $color-btn;
	border-radius: 8px;
	padding: 6px;

    &:hover {
    	background: $color-bg-secondary;
    }
  }
  
  
  #boton-registro {
	width: 100%;
	padding: 10px;
	background: $color-btn;
	cursor: pointer;
	border-radius: 8px;
	border-style: none;
	@include font(1.2em,700,$color-general);

        &:hover {
        	background: $color-main;
        }
  }
  

.return {
	margin-top: 20px;
	gap: 6px;

	a {
		color: $color-text-primary;
		text-decoration: none;

        &:hover{
            color: $color-main;
        }
	}
}


@media (max-width: 750px) {
	.main-register {
	  background-color: $color-general;
	}

	.container{
		padding: 20px;
		h1{
			@include font(2.25em,600,$color-text-primary);
		}
	}
  }