.heading {
  width: 100%;
  & h2 {
    @include font(2.4em,500,$color-main);
    text-align: center;
  }
}
.content {
  max-width: 60rem;
  min-width: 22rem;
}
.reviews {
  padding: 40px;
}
.section-left {
  & img {
    max-width: 15rem;
    max-height: 15rem;
  }
}

.review-1,
.review-2,
.review-3 {
  background-color: #17191a;
  -webkit-box-shadow: 4px 4px 5px -3px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 4px 4px 5px -3px rgba(0, 0, 0, 0.47);
  box-shadow: 4px 4px 5px -3px rgba(0, 0, 0, 0.47);
  & h2,
  h6 {
    color: $color-text-primary;
  }
  & h3,
  h4,
  h5 {
    color: $color-text-secondary;
  }
  & p {
    color: $color-text-tertiary;
  }
}

.icons {
  & img {
    width: 25px;
    height: 25px;
  }
}

.ver-mas {
  padding: 10px;
  background: $color-bg-secondary;
  border-style: none;
  border-radius: 8px;
  text-decoration: none;
  @include font(1.2em,400,$color-text-tertiary);

  &:hover {
    border: solid 1px $color-text-quaternary;
    background: $color-bg-tertiary;
  }
}
